<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="audio_div">
  <h2>	网络音乐播放器</h2>
  	<img src="http://p1.music.126.net/ZhgxeLsdmhBWxOa4Gn32nw==/18536666534275130.jpg" alt="">
  	<h4>歌名</h4>
  	<h4>作者</h4>
  	<h4>专辑名</h4>
  	<audio src="/horse.ogg" controls="controls">
     Your browser does not support the audio element.
     autoplay, controls loop preload src
</audio>
  </div>

  </body>
</html>
